@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-slide-down {
  animation: slideDown 0.4s ease forwards;
}

/* ------------------- Fade In ------------------- */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.8s ease forwards;
}

/* ------------------- Slide Left to Right ------------------- */
@keyframes slideLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-left-to-right {
  animation: slideLeftToRight 0.8s ease forwards;
}

/* ------------------- Slide Right to Left ------------------- */
@keyframes slideRightToLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-right-to-left {
  animation: slideRightToLeft 0.8s ease forwards;
}

/* ------------------- Slide Up ------------------- */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  animation: slideUp 0.8s ease forwards;
}

/* ------------------- Slide Bottom to Top ------------------- */
@keyframes slideBottomToTop {
  from {
    opacity: 0;
    transform: translateY(50px); /* começa 50px abaixo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* termina na posição normal */
  }
}

.slide-bottom-to-top {
  animation: slideBottomToTop 0.8s ease forwards;
}
